body {
    background-image: url("https://i.pinimg.com/originals/0c/43/15/0c4315f0d65723472475a9147a5b7592.jpg");
    background-size: cover;
    font-family: Nunito;
    text-align: center;
    border: 2px solid #5D4037;
    border-radius: 18px;
    /* margin: 80px 350px; */
    box-sizing: border-box;
}

header {
    padding: 50px;
    margin: 60px;
    margin-top: 30px;
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;

    width: 20%;
    height: 250px;
}
.card:hover {
    background-color: #5D4037;
    border-radius: 8px;
}

.card a {
    font-size: 18px;
    padding: 16px;
    /* margin: 100px; */
    color: #b47866;
    text-decoration: none;
}
.card a:hover{
    color: #BCAAA4;
}
.card img{
    width: 100px;
    padding-top: 5px;
    border-radius: 30px;
}

h1 {
    padding: 20px;
}
strong {
    font-size: 35px;
}

p {
    font-size: 20px;
}

