/* Mobile first */

body{
    background-image: url("https://i.pinimg.com/originals/0c/43/15/0c4315f0d65723472475a9147a5b7592.jpg");
    background-size: cover;
    
    font-family: Nunito;
    box-sizing: border-box;
    text-align: center;
    max-width: 100%;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #b47866;
    border-radius: 0.5em;
    margin-bottom: .5em;
}
.card img{
    max-width: 60%;
    border-radius: 100%;
}
a{
    color: #b47866;
    text-decoration: none;
}









@media only screen and (min-width: 420px) {

    body{
        padding: 3em;
        margin: 5em;
        border: 1px solid #5D4037;
        border-radius: 8px;
    }

    header{
        margin: 1em;
        margin-bottom: 10em;
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1em;
    }

    .card{
        border: none;
        width: 20%;
    }
    .card:hover {
        background-color: #5D4037;
        border-radius: 1em;
    }
    a:hover{
        color: #BCAAA4;
        background-color: #5D4037;
        border-radius: 1em;
    }
}