body {
    background-image: url("https://i.pinimg.com/originals/0c/43/15/0c4315f0d65723472475a9147a5b7592.jpg");
    background-size: cover;
    font-family: Nunito;
    text-align: center;
}

header {
    background-color: #BCAAA4;
    display: flex;
    justify-content: center;
    line-height: 35px;
}
header a{
    text-decoration: none;
    margin: auto 25px;
    padding: 6px;

    color: #4E342E;

}
header a:hover {
    color: #BCAAA4;
    background-color: #5D4037;
}


h1 {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    color: #4E342E;
}
h2 {
    font-weight: 700;
    font-size: 23px;
    font-style: italic;
    color: darkslategrey;
}

.foto-video img, iframe{
    margin: 15px;
    width: 380px;
    border-radius: 8px;
}

.foto-video iframe {
    width: 500px;
}

.modo-de-preparo, .ingredientes {
    display: inline-block;
    width: 40%;
    text-align: left;
}