/* Mobile first */

body{
    background-image: url("https://i.pinimg.com/originals/0c/43/15/0c4315f0d65723472475a9147a5b7592.jpg");
    background-size: cover;
    
    font-family: Nunito;
    box-sizing: border-box;
    text-align: center;
    max-width: 100%;
}

header{
    padding: .5em;
    margin-bottom: 3em;
}
header img{
    border-radius: 100%;
}

main{
    padding: .5em;
    margin-bottom: 3em;
}

h3, h4, a{
    color: #b47866;
    text-decoration: none;
}

footer{
    max-width: 100%;
}

.outras-receitas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.outras-receitas a{
    padding: .8em;
    margin-bottom: .8em;
    border: 1px solid #5D4037;
    border-radius: .5em;
}

.redes-sociais{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.redes-sociais img{
    margin: 0;
    width: 4em;
}


@media only screen and (min-width: 420px) {

    body{
        padding: 2em;
        margin: 0 5em;
        border: 1px solid #5D4037;
        border-radius: 8px;
    }

    header{
        margin-bottom: 4em;
    }
    main{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1em;
    }

    main a{
        padding: 1em;
        margin-bottom: .8em;
    }

    .outras-receitas a{
        border: none;
    }
    .outras-receitas span{
        padding: 1em;
        margin-bottom: .8em;
    }
    .outras-receitas span:hover, main > a:hover{
        color: #BCAAA4;
        background-color: #5D4037;
        border-radius: .5em;
    }

    .redes-sociais{
        justify-content: space-around;
    }
}